<head>
    <link href="../../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/dash.css" rel="stylesheet">

</head>
<body>
    <div class="container">
  <br>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SupportNet</a>
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </form>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#">Home</a>
        </li>
        <li role="presentation">
          <a href="#">Profile</a>
        </li>
        <li role="presentation">
          <a href="#">Messages</a>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
                <img class="media-object profile-crop" src="https://i.groupme.com/1170x2080.png.4ee1c675d6a04443885ae5eba0c3c191">
            </div>
            <div class="media-body">
            <blockquote>
                <p class="linked-message" page="2" msg-id="144958885547910360">"Any preferences?"</p>
                <footer>
                  Matt Kraatz
                </footer>
              </blockquote>
            </div>
            <div class="panel-footer">
              September 26, 2015 - liked by Jon King, Sammi Jo...
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </div>
  </div>
</div>
</body>
