<head>
    <link href="../../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/dash.css" rel="stylesheet">

</head>
<body>
    <div class="container">
  <br>


  <!-- Navbar -->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SupportNet</a>
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </form>
    </div>
  </nav>

  <!-- /Navbar -->

  <br>
  <div class="row">
    <div class="col-sm-8">
        <div class="person-post row panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div class="panel-info">
                  <div class="media-left">
                      <img class="media-object profile-crop" src="../../static/img/avatar.gif">
                  </div>
                  <div class="media-body">
                      <div class="person_info">
                          <p class="person_name">John Smith</p>
                          <p class="recent_loc">Last checked in at <b>Shelter</b></p>
                          <p class="person_need">This person needs <b>a winter coat.</b> <b>($50.00)</b></p>
                          <button class="btn-help">Give Help</button>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">
                <span class="need_date">Posted on <b>September 26, 2015</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-post row panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div class="panel-info">
                  <div class="media-left">
                      <img class="media-object profile-crop" src="../../static/img/avatar.gif">
                  </div>
                  <div class="media-body">
                      <div class="person_info">
                          <p class="person_name">John Smith</p>
                          <p class="recent_loc">Last checked in at <b>Shelter</b></p>
                          <p class="person_need">This person needs <b>a winter coat.</b> <b>($50.00)</b></p>
                          <button class="btn-help">Give Help</button>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">
                <span class="need_date">Posted on <b>September 26, 2015</b></span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-post row panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div class="panel-info">
                  <div class="media-left">
                      <img class="media-object profile-crop" src="../../static/img/avatar.gif">
                  </div>
                  <div class="media-body">
                      <div class="person_info">
                          <p class="person_name">John Smith</p>
                          <p class="recent_loc">Last checked in at <b>Shelter</b></p>
                          <p class="person_need">This person needs <b>a winter coat.</b> <b>($50.00)</b></p>
                          <button class="btn-help">Give Help</button>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">
                <span class="need_date">Posted on <b>September 26, 2015</b></span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </div>
  </div>
</div>
</body>
