<head>
    <link href="../../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/dash.css" rel="stylesheet">

</head>
<body>
    <div class="container">
  <br>

<!-- Navbar -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SupportNet</a>
        <form class="navbar-form navbar-right" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </form>
      </div>
    </nav>

<!-- /Navbar -->

<!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">John Smith
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-4">
                <img src="../../static/img/avatar.gif" alt="">
            </div>

            <div class="profile-info col-md-8">
                <p>Last checked into <b>Shelter</b></p>
                <br />
                <p>John Smith is a veteran</p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Need Postings</h3>
            </div>

            <div class="person-post row col-lg-12 panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div class="panel-info">
                      <div class="media-left">
                          <img class="media-object profile-crop" src="../../static/img/avatar.gif">
                      </div>
                      <div class="media-body">
                          <div class="person_info">
                              <p class="person_name">John Smith</p>
                              <p class="recent_loc">Last checked in at <b>Shelter</b></p>
                              <p class="person_need">This person needs <b>a winter coat.</b> <b>($50.00)</b></p>
                              <button class="btn-help">Give Help</button>
                          </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                    <span class="need_date">Posted on <b>September 26, 2015</b></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="person-post row col-lg-12 panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div class="panel-info">
                      <div class="media-left">
                          <img class="media-object profile-crop" src="../../static/img/avatar.gif">
                      </div>
                      <div class="media-body">
                          <div class="person_info">
                              <p class="person_name">John Smith</p>
                              <p class="recent_loc">Last checked in at <b>Shelter</b></p>
                              <p class="person_need">This person needs <b>a winter coat.</b> <b>($50.00)</b></p>
                              <button class="btn-help">Give Help</button>
                          </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                    <span class="need_date">Posted on <b>September 26, 2015</b></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="person-post row col-lg-12 panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div class="panel-info">
                      <div class="media-left">
                          <img class="media-object profile-crop" src="../../static/img/avatar.gif">
                      </div>
                      <div class="media-body">
                          <div class="person_info">
                              <p class="person_name">John Smith</p>
                              <p class="recent_loc">Last checked in at <b>Shelter</b></p>
                              <p class="person_need">This person needs <b>a winter coat.</b> <b>($50.00)</b></p>
                              <button class="btn-help">Give Help</button>
                          </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                    <span class="need_date">Posted on <b>September 26, 2015</b></span>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>
